In [2]:
#Importing libraries

import pandas as pd

In [ ]:
Read Data

In [3]:
df = pd.read_csv("mount_everest_deaths.csv")

In [4]:
#data-shape and look

df.shape

(310, 8)

In [5]:
df.sample(7)

,No.,Name,Date,Age,Expedition,Nationality,Cause of death,Location
57,58,Blair Griffiths,"September 2, 1982",33.0,Bill March Canadian Expedition,Canada,Crushed under serac,Icefall
95,96,Jaroslav Jaško,"October 17, 1988",26.0,IAMES Bratislava Expedition,Czechoslovakia,Disappearance (likely accidental death during ...,8000m S.W. Ridge
113,114,Raymond Jacob,"May 2, 1992",NaN,Indian expedition,India,Exposure,NaN
298,299,Nihal Bagwan,"May 23, 2019",27.0,Peak Promotions,India,Exhaustion on descent,near South Col
305,306,Christopher Jon Kulish,"May 27, 2019",62.0,Climbing the Seven Summits,United States,Cardiac event during descent,South Col
55,56,Dawa Dorje,"August 31, 1982",42.0,Bill March Canadian Expedition,Nepal,Avalanche,Icefall
195,196,Lhakpa Tseri,"April 21, 2006",NaN,American,Nepal,Avalanche,5900m Icefall

In [6]:
#What is the data type of cols?

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   No.             310 non-null    int64
 1   Name            310 non-null    object
 2   Date            310 non-null    object
 3   Age             160 non-null    float64
 4   Expedition      271 non-null    object
 5   Nationality     309 non-null    object
 6   Cause of death  296 non-null    object
 7   Location        291 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 19.5+ KB

In [7]:
#missing value check

df.isnull().sum()

No.                 0
Name                0
Date                0
Age               150
Expedition         39
Nationality         1
Cause of death     14
Location           19
dtype: int64

In [8]:
#Math relation

df.describe()

              No.         Age
count  310.000000  160.000000
mean   155.500000   40.356250
std     89.633513   12.244545
min      1.000000   19.000000
25%     78.250000   31.750000
50%    155.500000   38.000000
75%    232.750000   48.000000
max    310.000000   85.000000

In [9]:
#check duplicate

df.duplicated().sum()

0

In [10]:
#Corr check
df.corr()["Age"]

No.    0.307964
Age    1.000000
Name: Age, dtype: float64